.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  padding: 8px;
  margin-bottom: 8px;
  background-color: black;
  color: white;
  border-radius: 4px;
}

.itemButtons {
  display: flex;
  gap: 8px;
}
