@keyframes animateIn {
  0% {
    opacity: 0;
    max-height: 0;
  }
  100% {
    opacity: 1;
    max-height: 48px;
  }
}

@keyframes animateOut {
  0% {
    opacity: 1;
    max-height: 48px;
  }
  100% {
    opacity: 0;
    max-height: 0;
  }
}

.item {
  animation: animateIn 0.5s ease-out;
  overflow: hidden;
}

.item.unmount {
  animation: animateOut 0.5s ease-out;
}
