* {
  box-sizing: border-box;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    max-height: 0;
  }
  100% {
    opacity: 1;
    max-height: 48px;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    max-height: 48px;
  }
  100% {
    opacity: 0;
    max-height: 0;
  }
}
